.weather-blocks-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 70px);
    justify-content: center;
    max-width: 90vw;

    app-weather-block{
        display: flex;
        min-width: 300px;
        min-height: 200px;
        flex: 0 0 33.333333%;
        height: 30.333vh;
    }
}
.home-page-title{
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    color: slateblue;
    height: 50px;
}