app-autocomplete{
    width: calc(90% - 80px);
}
.button{
    margin-right: 10px;
}
.edit-mode-presenter{
    display: flex;
}

.weather-block-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid slateblue;
    margin: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    .weather-data-presenter{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .data-presenter{
            width: 100%;
            padding: 5px;
            background-color:tan;
        }
        &.clouds{
            background-image: url('https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_standard/public/Screen%20Shot%202018-04-17%20at%202.23.33%20PM.png');
        }
        &.clear{
            background-image: url('https://i0.wp.com/2m.ma/site_media/uploads/imagesarticle/2020/9/1/157132692962b0677a23_129709_soleil-brille_tXpecPi.image_corps_article.jpg');
        }
        &.haze{
            background-image: url('https://cff2.earth.com/uploads/2018/11/13015448/what-is-haze-730x410.jpg');
        }
        &.mist{
            background-image: url('https://media.arubanetworks.com/blogs/GettyImages-1164051562-1024x683.jpg');
        }
        &.rain{
            background-image: url('https://s7d2.scene7.com/is/image/TWCNews/0521_clt_rain_jpg');
        }
    }
    .add-weather-block{
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    }
    .actions{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}